Django==1.8.4
Fabric==1.10.2
Pillow==2.9.0
Unidecode==0.04.18
argparse==1.2.1
dj-database-url==0.3.0
dj-static==0.0.6
django-appconf==1.0.1
django-bootstrap-markdown==1.8.1
django-forms-bootstrap==3.0.1
django-imagekit==3.2.7
django-pylibmc-sasl==0.2.4
django-toolbelt==0.0.1
django-uuslug==1.1.6
ecdsa==0.13
foreman==0.9.7
futures==3.0.3
gunicorn==19.3.0
paramiko==1.15.2
pilkit==1.1.13
psycopg2==2.6.1
pycrypto==2.6.1
pylibmc==1.5.0
python-slugify==1.1.4
requests==2.7.0
requests-futures==0.9.5
six==1.9.0
static3==0.6.1
whitenoise==2.0.4
wsgiref==0.1.2
